{{!-- Шаблон картки --}}
{{#each this}}
  <li class="gallery__item">
    <div class="gallery__card">
      {{#if poster_path}}
      <img class="gallery__image" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" data-source="{{id}}">
      {{else}}
      <img class="gallery__image" src="https://raw.githubusercontent.com/alexkarmhon/cinema/main/src/images/coming-soon.jpg" alt="{{title}}">
      {{/if}}
      <div class="film-information">
        <p class="film__name">{{title}}{{name}}</>
        <div class="film__advantages js-card-div">
          <p class="category">
            <span>{{#each genre_ids}}{{this}}<span class="cutter">, </span>{{/each}}</span> | {{release_date}}
          </p>
          <p class="votes">{{vote_average}}</p>
        </div>
      </div>
    </div>
  </li>
{{/each}}
